/**
 * $Id: admin.css 553 2011-06-22 19:09:03Z jamie $
 *
 * Admin interface styles.
 */

/* Admin toolbar */
.uAdminBar .Accounts, .uAdminBar .Events, .uAdminBar .LoginStatus, .uAdminBar .CreateAccount, .uAdminBar .AgentActivity {
  font-size: 9pt;
}

.uAdminBar input, .uAdminBar select {
  font-size: 9pt;
}

.uAdminBar .SpacerLabel {
  padding-left: 12px;
}

.uAdminBar .Accounts div, .uAdminBar .Events div, .uAdminBar .LoginStatus div, .uAdminBar .CreateAccount div, .uAdminBar .AgentActivity div {
  display: inline;
  padding-right: 4px;
}

.uAdminBar .BarLabel {
  padding-left: 8px;
}

/* PostMessagePanel */
.uPostMessage {
  font-size: 10pt;
}

.uPostMessage .PlayerVis {
  padding:10px;
}

.uPostMessage .PlayerVis, .uPostMessage .Button {
  display: inline;
}

.uPostMessage .Warning {
  color: DarkRed;
  font-size: 24pt;
}

.uPostMessage .Title {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  max-width: 500px;
  margin-bottom: 3px;
}

.uPostMessage .SubTitle {
  max-width: 500px;
  padding-bottom: 20px;
}

.uPostMessage .SubTitle p {
  margin: 3px 0;
  text-align: center;
}

.uPostMessage .SubTitle p.Who {
  font-style: italic;
}

/* Event panel */
.uEventPanel, .uEventPanel table {
  font-size: 10pt;
}

.uEventPanel .Fields>tbody>tr>td {
  padding: 2px 5px;
}

.uEventPanel .Title {
  font-size: 18pt;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

.uEventPanel td.Label {
  text-align: right;
  padding-right: 5px;
}

.uEventPanel .LinkBar {
}

.uEventPanel .LinkBar .gwt-Hyperlink {
  display: inline;
  padding-right: 10px;
}

.uEventPanel .StatusBar td {
  padding-right: 5px;
}

.uEventPanel .NotYou {
  background: Pink;
}

.uEventPanel .You {
  background: PaleGreen;
}

.uEventPanel td.Separator {
  height: 15px;
}

.uEventPanel td.PostReply {
  text-align: right;
}

.uEventPanel .SubHead {
  font-size: 14pt;
  font-weight: bold;
}

.uEventPanel .ChatHistoryHTML {
  font-size: 9pt;
  max-width: 500px;
}

.uEventPanel .ChatHistoryHTML .ChatSelf {
  background: PaleGreen;
}

.uEventPanel .ChatHistoryHTML .ChatOther {
  background: Pink;
}

.uEventPanel .MessagesHeader {
  font-weight: bold;
  margin-top: 10px;
}

.uEventPanel .Messages {
  padding-left: 5px;
}

.uEventPanel .Messages .Public {
  background: PaleGreen;
}

.uEventPanel .Messages .Message {
  margin: 10px 0;
}

.uEventPanel .Messages .Message .Author {
  display: inline;
  font-weight: bold;
}

.uEventPanel .Messages .Message .Date {
  font-style: italic;
}

.uEventPanel .Messages .Message .Body {
  white-space: pre-wrap;
}

.uEventPanel .gwt-DisclosurePanel {
  padding: 5px 10px;
}

.uEventPanel .gwt-DisclosurePanel a.header div {
  display: inline;
}

.uEventPanel .gwt-DisclosurePanel a.header {
  text-decoration: none;
  color: black;
  background: AliceBlue;
}

.uEventPanel .gwt-DisclosurePanel-closed a.header {
  background: none;
}

/* Events table */
table.uEventsTable {
  font-size: 9pt;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.uEventsTable {
  margin-top: 10px;
}

.uEventsTable .heart {
  color: red;
  font-size: 24;
  text-align: center;
}

.uEventsTable td {
  border-top: 1px solid;
}

.uEventsTable tr {
  background: #F8F8F8;
}

.uEventsTable tr.header {
  font-weight: bold;
  background: #999999;
}

.uEventsTable td {
  width: 5%;
}

.uEventsTable td:nth-child(4) {
  width: 25%;
}

.uEventsTable td:nth-child(5) {
  width: 20%;
}

.uEventsTable td:nth-child(7) {
  width: 15%;
}

.uEventsTable td:nth-child(8) {
  width: 10%;
}

.uEventsTable td.support {
  background: #FF3333;
}

.uEventsTable td.note {
  background: #66FF66;
}

.uEventsTable td.petition {
  background: #B989B9;
}

.uEventsTable td.default {
  background: #FFAC30;
}

.uEventsTable td.unclaimed {
  background: #009933;
}

.uEventsTable td.escalated {
  background: #FF3333;
}

.uEventsTable td.claimed {
  background: #FFFF00;
}

.uEventsTable td.closed {
  background: #CCCCFF;
}

.uEventsTable td.ignored {
  background: #E6E6E6;
}

/* Account panel */
table.uAccountPanel, table.uAccountPanel .LinkBar {
  font-size: 10pt;
}

table.uAccountPanel td.Title {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  max-width: 500px;
}

table.uAccountPanel td.Label {
  text-align: right;
}

table.uAccountPanel table.LinkBar td {
  padding-right: 5px;
}

table.uAccountPanel td.Status {
  border: medium inset gray;
  text-align: center;
  padding: 5px;
}

table.uAccountPanel .Flags {
  max-width: 300px;
}

table.uAccountPanel .Warning {
  color: DarkRed;
}

table.uAccountPanel .SubHead {
  font-weight: bold;
  font-size: 14pt;
}

/* Account list panel */
.uAccountList .Title {
  font-size: 18pt;
  font-weight: bold;
}

.uAccountList .Account {
  margin: 0;
  padding-left: 20px;
}

/* Related accounts panel */
.uRelatedAccounts, .uRelatedAccounts table.Ident {
  font-size: 10pt;
}

.uRelatedAccounts .Title {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

.uRelatedAccounts .Status {
  border: medium inset gray;
  text-align: center;
  padding: 5px;
}

.uRelatedAccounts td.Ident .gwt-Label {
  background: PaleGreen;
}

.uRelatedAccounts td.BannedIdent .gwt-Label {
  background: Magenta;
  font-weight: bold;
}

.uRelatedAccounts td.TaintedIdent .gwt-Label {
  background: Tomato;
}

.uRelatedAccounts div.Account {
  padding: 2px 3px;
  margin: 0 2px;
}

.uRelatedAccounts div.Accounts, .uRelatedAccounts div.Account, .uRelatedAccounts div.Account div {
  display: inline;
}

.uRelatedAccounts .Paid {
  background: Green;
  color: Gold;
  padding: 1px 5px;
  margin-right: 4px;
}

.uRelatedAccounts div.Account div.Name {
  font-weight: bold;
}

.uRelatedAccounts .Banned {
  background: Tomato;
}

.uRelatedAccounts .Banned a {
  color: Black;
}

.uRelatedAccounts .Banned a:visited {
  color: Black;
}

.uRelatedAccounts td.Header {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-top: 20px;
}

/* Post note panel */
.uPostNotePanel, .uPostNotePanel table.ResultRow {
  font-size: 10pt;
}

.uPostNotePanel .Title {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

.uPostNotePanel td.Label {
  text-align: right;
}

.uPostNotePanel td.Text {
  vertical-align: top;
  padding-top: 5px;
}

.uPostNotePanel table.ResultRow td {
  padding-right: 10px;
}

/* ReportPanel */
.uReportPanel .Title {
  font-size: 18pt;
  font-weight: bold;
}

.uReportPanel table {
  font-size: 9pt;
}

.uReportPanel td.Label {
  text-align: right;
  padding: 2px 5px 2px 2px;
}

.uReportPanel .ResultHeader {
  font-size: 16pt;
  font-weight: bold;
  padding-top: 25px;
}

.uReportPanel .Row div {
  display: inline;
  padding-right: 5px;
}

.uReportPanel .RecentVolume td {
  text-align: center;
  font-family: monospace;
}

.uReportPanel .RecentVolume .Header {
  font-weight: bold;
}

.uReportPanel .RecentVolume td div {
  padding: 1px 5px;
}

.uReportPanel .RecentVolume .row0 {
  background: LemonChiffon;
}

.uReportPanel .RecentVolume .col0 {
  border-right: thin solid black;
}

.uReportPanel .AverageVolume td {
  text-align: center;
  font-family: monospace;
}

.uReportPanel .AverageVolume .HeaderRow, .uReportPanel .AverageVolume .HeaderCol {
  font-weight: bold;
}

.uReportPanel .AverageVolume .HeaderCol {
  border-right: thin solid black;
}

.uReportPanel .AverageVolume .HeaderRow {
  border-bottom: thin solid black;
}

.uReportPanel .AverageVolume td div {
  padding: 2px 10px;
}

.uReportPanel .AverageVolume .row0 {
  background: LemonChiffon;
}

.uReportPanel .AgentActivity td {
  text-align: center;
  font-family: monospace;
}

.uReportPanel .AgentActivity .Header {
  font-weight: bold;
}

.uReportPanel .AgentActivity td div {
  padding: 1px 5px;
}

.uReportPanel .AgentActivity .row0 {
  background: LemonChiffon;
}

.uReportPanel .AgentActivity .col0 {
  border-right: thin solid black;
}
